@import "tailwindcss";
@import "./variables.css";

html {
	overscroll-behavior-y: none;
	min-width: 320px;
	background-color: var(--color-background-primary);
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(120, 120, 120, 0.4);
	border-radius: 9999px;
	transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(120, 120, 120, 0.7);
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}

body {
	overflow-y: overlay;
	scroll-behavior: smooth;
}
