@theme {
	--color-background-primary: #f6f7f9;
	--color-background-secondary: #f1f1f1;
	--color-border: #e5e7eb;

	--color-text-primary: #1f2937;
	--color-text-secondary: #6b7280;
	--color-text-accent: #dc2626;

	--color-rating-base: #fbbf24;
	--color-rating-high: #16a34a;
	--color-rating-medium: #ca8a04;
	--color-rating-low: #dc2626;

	--color-button-primary: #3b82f6;
	--color-button-hover: #2563eb;

	--color-background-product-card: #f6f7f9;
	--color-border-product-card: #e5e7eb;
}

[data-theme="dark"] {
	--color-background-primary: #121212;
	--color-background-secondary: #1c1c1c;
	--color-background-product-card: #1f1f1f;

	--color-border: #2c2c2c;
	--color-border-product-card: #333333;

	--color-text-primary: #e0e0e0;
	--color-text-secondary: #a0a0a0;
	--color-text-accent: #ff5252;

	--color-rating-base: #ffc107;
	--color-rating-high: #4caf50;
	--color-rating-medium: #ff9800;
	--color-rating-low: #f44336;

	--color-button-primary: #3f51b5;
	--color-button-hover: #303f9f;
}
